@import "tailwindcss";

/* ===========================
   AI Resume Analyzer Theme
=========================== */

@theme {
  --color-primary: #15173D;
  --color-secondary: #F1E9E9;
  --color-action: #982598;
}